<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Blog</title>
</head>
<body>
<h1>List Blog</h1>
<h3><a th:href="@{/blog/create-blog}">Create new blog</a></h3>
<table border="1">
    <thead>
    <tr>
        <td>#ID</td>
        <td>Content</td>
        <td>Title</td>
        <td>Category</td>
        <td colspan="2">Action</td>
    </tr>
    </thead>
    <tbody>
        <th:block th:each="blog : ${blogs}">
            <tr>
                <td th:text="${blog.id}"></td>
                <td th:text="${blog.content}"></td>
                <td th:text="${blog.title}"></td>
                <td th:text="${blog.category.getCategory()}"></td>
                <td><a th:href="@{/edit-blog/__${blog.id}__}">Update</a></td>
                <td><a th:href="@{/remove-blog/__${blog.id}__}" th:text="Remove"></a></td>
            </tr>
        </th:block>
    </tbody>
</table>
</body>
</html>